
h3{
    padding-left: 20px;
}
nav{
    display: flex;
}
div{
    
    float: right;
}
.navigation-bar{
    
    display: flex;
    float: right;
    
}
ul li{
    padding: 10px;
    list-style: none;
    text-decoration: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: small;
}

.first-part{
    display: flex;
}
.blog{
    width: 50%;
    padding: 20px;
}
.blog-image{
    width: 50%;
}
.prebook{
    background-color: rgb(168, 20, 20);
    font-weight: 700;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
    text-decoration: none;
}