

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@200&family=Poppins:wght@200&display=swap');




body{
    margin: 100px;
}

/* influencer product */
h3{
    padding-left: 20px;
}

/* navigation bar */
nav{
    display: flex;
    
}

.floating{
    float: right;
}

/* first section  */

.blog-image:hover{
    transform: translateX(100px);
    
}
.blog-image{
    width: 20%;
    transition: transform 1s;
}


.navigation-bar{
    display: flex;
}
ul li{
    padding: 10px;
    list-style: none;
    text-decoration: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: small;
}

.first-part{
    display: flex;
}
.blog{
    width: 60%;
    padding: 20px;
}

.prebook{
    background-color: rgb(168, 20, 20);
    font-weight: 700;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 30px;
}
.main-blog{
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    
}

/* Horizontal logos */

.logo-image{
    
    padding-left: 135px;
    
    
}

/* popular products */

.text-popular{
    text-align: center;
    margin-top: 50px;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.product-image{
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 10px;
    height:max-content;
    width: 350px;
    padding: 10px;
}
.product-image img{
    height: 250px;
    width: 350px ;
    transition: transform 2s;
}
.product-image img:hover{
    transform: scale(1.15);
}
h4{
    margin-bottom: 5px;
    font-size: 40px;
}
.product-price{
    margin: 0;
    font-size: 50px;
}

.star i{
    font-size: 10px;
}
.star-rate{
    font-size: 15px;
    font-weight: 700;
}
.shipping{
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}
.see-more{
    text-align: end;
    padding-right: 150px;
    font-weight: 700;
}

/*-------------------------------- bonus part     ------------------------*/
.bonus-sec{
    margin-top: 30px;
    margin-bottom: 30px;
}
.bonus-img{
    height: 300px;
    width: 500px;
}

.bonus{
    display: flex;
}

.bonus-div{
    width: 50%;
}

/*                              footer style                     */



footer{
    background-color: rgb(29, 18, 18);
    margin: 0;
}
footer h2{
    text-align: center;
    color: blanchedalmond;
    margin-bottom: 0;
} 
.footer-para{
    color: blanchedalmond;
    text-align: center;
    margin: 0;
}
.fab{
    color: white;
    padding-left: 20px;
}
.no-margin{
    margin: 20px;
}